<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fhnib.fhnibcieot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".Part1"
            android:label="PART 1"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part2"
            android:label="PART 2"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part3"
            android:label="PART 3"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part4"
            android:label="PART4"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part5"
            android:label="PART 5"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part6"
            android:label="PART 6"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Part7"
            android:label="PART 7"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".Exercise1Part5" />
    </application>

</manifest>